<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gentle Giant</title>
    <link rel="stylesheet" href='{%static "css/cssIndex.css" %}'>
</head>
<body>
    <!-- starting code -->
    {% comment %} 
    <h1>This is index.html</h1>
    {{insert_me}} 
    {% endcomment %}
    <div class="centered">
        <div>
            <a class='btn'><img src="/static/images/start-button.png" alt="start button"></a>
        </div>
        <div>
            <a class='btn' href="{% url 'howto' %}"><img src="/static/images/how-to-play.png" alt="howto"></a>
        </div>
        <div>
            <a class='btn'><img src="/static/images/leaderboard.png" alt="leaderboard"></a>
        </div>
    </div>
    
</body>
</html>