body {
    background-color: black;
    background-image: url('/static/images/titlescreen.png');
    background-repeat: no-repeat;
    background-position-x: center;
    width: auto;
    height: auto;
}
p{
    font-family: 'Retro Gaming';
    src: url('fonts/RetroGaming.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.centered{
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-47%, -50%);
    justify-content: center;
    text-align: center;
}
.border{
    border-width:3px; 
    border-style:solid; 
    border-color:#000000; 
    padding: 1em;
    background: whitesmoke;
}